<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.QLKSConnectionString" connectionString="Data Source=LAPTOP-P250IPBQ;Initial Catalog=QLKS_Java;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="BLL.Properties.Settings.QLKSConnectionString1" connectionString="Data Source=LAPTOP-P250IPBQ;Initial Catalog=QLKS;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>